---
# TrueNAS SMB/CIFS configuration

- name: Enable SMB service
  uri:
    url: "{{ truenas_api_url }}/service/id/cifs"
    method: PUT
    headers:
      Authorization: "Bearer {{ truenas_api_key }}"
    body_format: json
    body:
      enable: true
    validate_certs: "{{ truenas_validate_certs }}"
    status_code: 200

- name: Configure SMB settings
  uri:
    url: "{{ truenas_api_url }}/smb"
    method: PUT
    headers:
      Authorization: "Bearer {{ truenas_api_key }}"
    body_format: json
    body:
      workgroup: "{{ truenas_smb_workgroup }}"
      netbiosname: "{{ truenas_smb_netbios_name | default(inventory_hostname | upper) }}"
    validate_certs: "{{ truenas_validate_certs }}"
    status_code: 200

- name: Start SMB service
  uri:
    url: "{{ truenas_api_url }}/service/start"
    method: POST
    headers:
      Authorization: "Bearer {{ truenas_api_key }}"
    body_format: json
    body:
      service: "cifs"
    validate_certs: "{{ truenas_validate_certs }}"
    status_code: [200, 422]  # 422 if already running

- name: Configure SMB shares
  arensb.truenas.sharing_smb:
    api_url: "{{ truenas_api_url }}"
    api_key: "{{ truenas_api_key }}"
    validate_certs: "{{ truenas_validate_certs }}"
    name: "{{ item.name }}"
    path: "{{ item.path }}"
    comment: "{{ item.comment | default('') }}"
    ro: "{{ item.ro | default(false) }}"
    guestok: "{{ item.guest_ok | default(false) }}"
    state: present
  loop: "{{ truenas_smb_shares }}"
  loop_control:
    label: "{{ item.name }}"
  when: truenas_smb_shares | length > 0
