---
# K3s Cluster Inventory
# Managed by Terraform - VMs defined in terraform/proxmox/locals.tf

all:
  children:
    k3s_cluster:
      children:
        k3s_masters:
          hosts:
            k3s-node01:
              ansible_host: 10.10.101.221
              proxmox_node: james
            k3s-node02:
              ansible_host: 10.10.101.222
              proxmox_node: andrew
            k3s-node03:
              ansible_host: 10.10.101.223
              proxmox_node: john
            k3s-node04:
              ansible_host: 10.10.101.224
              proxmox_node: peter
            k3s-node05:
              ansible_host: 10.10.101.225
              proxmox_node: judas
            k3s-node06:
              ansible_host: 10.10.101.226
              proxmox_node: philip

        k3s_workers:
          hosts:
            k3s-node07:
              ansible_host: 10.10.101.227
              proxmox_node: andrew
            k3s-node08:
              ansible_host: 10.10.101.228
              proxmox_node: andrew
            k3s-node09:
              ansible_host: 10.10.101.229
              proxmox_node: john
            k3s-node10:
              ansible_host: 10.10.101.230
              proxmox_node: john
            k3s-node11:
              ansible_host: 10.10.101.231
              proxmox_node: peter
            k3s-node12:
              ansible_host: 10.10.101.232
              proxmox_node: peter
            k3s-node13:
              ansible_host: 10.10.101.233
              proxmox_node: judas
            k3s-node14:
              ansible_host: 10.10.101.234
              proxmox_node: judas

        k3s_storage:
          hosts:
            k3s-storage17:
              ansible_host: 10.10.101.237
              proxmox_node: andrew
              storage_disk: /dev/sdb
            k3s-storage18:
              ansible_host: 10.10.101.238
              proxmox_node: john
              storage_disk: /dev/sdb
            k3s-storage19:
              ansible_host: 10.10.101.239
              proxmox_node: peter
              storage_disk: /dev/sdb

      vars:
        # Connection
        ansible_user: administrator
        ansible_python_interpreter: /usr/bin/python3
        ansible_ssh_common_args: '-o StrictHostKeyChecking=no'

        # Domain
        domain_name: techcasa.io

        # K3s Configuration
        k3s_version: v1.28.8+k3s1
        k3s_token: "{{ vault_k3s_token }}"
        k3s_cluster_vip: 10.10.101.50
        k3s_cluster_cidr: 10.42.0.0/16
        k3s_service_cidr: 10.43.0.0/16

        # Network
        k3s_network_gateway: 10.10.100.1
        k3s_network_subnet: 10.10.101.0/23

        # MetalLB
        metallb_enabled: true
        metallb_ip_range: 10.10.101.60-10.10.101.100

        # Storage
        longhorn_enabled: true
        longhorn_storage_path: /var/lib/longhorn

        # Monitoring
        prometheus_enabled: true
        grafana_enabled: true

        # Ingress
        traefik_enabled: true
        cert_manager_enabled: true

    # First master (bootstrap node)
    k3s_init_master:
      hosts:
        k3s-node01:

    # Additional masters
    k3s_additional_masters:
      hosts:
        k3s-node02:
        k3s-node03:
        k3s-node04:
        k3s-node05:
        k3s-node06:
