# SMART monitoring configuration

# Monitor all devices
DEVICESCAN -a -o on -S on -n standby,q -s (S/../.././02|L/../../6/03) -W 4,35,40 -m root

# Custom settings for specific devices can be added below
