---
# Common configuration for all Proxmox hosts

- name: Update APT cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  apt:
    name:
      - vim
      - htop
      - iotop
      - iftop
      - tmux
      - git
      - curl
      - wget
      - net-tools
      - dnsutils
      - ntp
      - zfsutils-linux
      - smartmontools
      - lm-sensors
      - ethtool
      - tcpdump
      - jq
      - python3
      - python3-pip
    state: present

- name: Configure timezone
  timezone:
    name: "{{ timezone }}"
  when: timezone is defined

- name: Configure NTP
  template:
    src: ntp.conf.j2
    dest: /etc/ntp.conf
    mode: '0644'
  notify: restart ntp
  when: ntp_servers is defined

- name: Enable and start NTP service
  systemd:
    name: ntp
    state: started
    enabled: yes

- name: Configure DNS resolvers
  template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf
    mode: '0644'
  when: dns_servers is defined

- name: Set hostname
  hostname:
    name: "{{ inventory_hostname }}.{{ domain_name }}"
  when: domain_name is defined

- name: Update /etc/hosts
  template:
    src: hosts.j2
    dest: /etc/hosts
    mode: '0644'
    backup: yes

- name: Configure SSH
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    mode: '0600'
    validate: '/usr/sbin/sshd -t -f %s'
  notify: restart sshd

- name: Ensure required directories exist
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - /var/log/ansible
    - /var/backups/proxmox

- name: Configure system limits
  pam_limits:
    domain: '*'
    limit_type: "{{ item.type }}"
    limit_item: "{{ item.item }}"
    value: "{{ item.value }}"
  loop:
    - { type: 'soft', item: 'nofile', value: '65536' }
    - { type: 'hard', item: 'nofile', value: '65536' }
    - { type: 'soft', item: 'nproc', value: '65536' }
    - { type: 'hard', item: 'nproc', value: '65536' }
