##### PORTS

##### SYSTEM

PUID=1000
PGID=1000
TZ=Etc/UTC
MEDIA_SERVER_IP=10.10.100.50
COMMON_CONFIG_PATH=/mnt/pve/apps
COMMON_SHARE_PATH=/mnt/pve/share
DOCKERDIR=~/homelab/docker
LOCAL_IPS=127.0.0.1/32,10.0.0.0/8,192.168.0.0/16,172.16.0.0/12
LANG=en_US.UTF-8

##### DOMAIN

DOMAINNAME=mydomain.com
CLOUDFLARE_EMAIL=me@gmail.com
# CLOUDFLARE_API_KEY=1234567890
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONEID=
DUCKDNS_TOKEN=
CLOUDFLARE_IPS=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22
# CF_API_EMAIL=me@gmail.com
VPN_SERVICE_PROVIDER=nordvpn

##### SECURITY AND PRIVACY

NORD_KEY=nord-api-key
LIDARR_API_KEY=lidarr-api-key
RADARR_API_KEY=readarr-api-key
READARR_API_KEY=readarr-api-key
SONARR_API_KEY=sonnar-api-key
SABNZBD_API_KEY=sabnzd-api-key
NOTIFIARR_API_KEY=notifiarr-api-key
PROWLARR_API_KEY=prowlarr-api-key
WHISPARR_API_KEY=whisparr-api-key
FLARESOLVERR_API_KEY=flaresolverr-api-key
STASH_API_KEY=stash-api-key

##### DATABASE

AUTHENTIK_PG_USER=authentik
AUTHENTIK_PG_PWD=authentik
AUTHENTIK_PG_DB=authentik


##### PORTS

AUTHENTIK_PORT=9000
BAZARR_PORT=6767
BAZARR_EXPORTER_PORT=9712
CROWDSEC_PORT=8080
DOCKGE_PORT=5001
FLARESOLVERR_PORT=8191
FLARESOLVERR_PROMETHEUS_PORT=8192
GOTIFY_PORT=81
GRAFANA_PORT=3000
HOMEPAGE_PORT=3000
LIDARR_PORT=8686
LIDARR_EXPORTER_PORT=9709
PROMETHEUS_PORT=9090
PROWLARR_PORT=9696
PROWLARR_EXPORTER_PORT=9710
QBIT_PORT=8080
RADARR_PORT=7878
RADARR_EXPORTER_PORT=9707
READARR_PORT=8787
SONARR_PORT=8989
STASH_PORT=9999
WHISPARR_PORT=6969

##### APPS

FLARESOLVERR_TAG=latest
FLARESOLVERR_LOG_LEVEL=info
FLARESOLVERR_LOG_HTML=false
FLARESOLVERR_CAPTCHA_SOLVER=none
FLARESOLVERR_HEADLESS=true
FLARESOLVERR_BROWSER_TIMEOUT=40000
FLARESOLVERR_TEST_URL=https://www.google.com
FLARESOLVERR_HOST=0.0.0.0
FLARESOLVERR_PROMETHEUS_ENABLE=false

HOMEPAGE_TAG=latest

REDIS_TAG=7.2-alpine
POSTGRES_TAG=16.3
AUTHENTIK_TAG=2024.6.1

AUTHENTIK_PG_PWD=password
AUTHENTIK_PG_USER=authentik
AUTHENTIK_PG_DB=authentik
AUTHENTIK_SECRET_KEY=password
AUTHENTIK_EMAIL_HOST=localhost
AUTHENTIK_EMAIL_PORT=25
AUTHENTIK_EMAIL_USERNAME=username
AUTHENTIK_EMAIL_PASSWORD=password
AUTHENTIK_EMAIL_USE_TLS=false
AUTHENTIK_EMAIL_USE_SSL=false
AUTHENTIK_EMAIL_TIMEOUT=10
AUTHENTIK_EMAIL_FROM=authentik@localhost

GOTIFY_SERVER_KEEPALIVEPERIODSECONDS=0
GOTIFY_SERVER_LISTENADDR=
GOTIFY_SERVER_SSL_ENABLED=
GOTIFY_SERVER_SSL_REDIRECTTOHTTPS=
GOTIFY_SERVER_SSL_LISTENADDR=
GOTIFY_SERVER_SSL_PORT=
GOTIFY_SERVER_SSL_CERTFILE=
GOTIFY_SERVER_SSL_CERTKEY=
GOTIFY_SERVER_SSL_LETSENCRYPT_ENABLED=
GOTIFY_SERVER_SSL_LETSENCRYPT_ACCEPTTOS=
GOTIFY_SERVER_SSL_LETSENCRYPT_CACHE=
GOTIFY_SERVER_SSL_LETSENCRYPT_HOSTS=
GOTIFY_SERVER_RESPONSEHEADERS=
GOTIFY_SERVER_CORS_ALLOWORIGINS=
GOTIFY_SERVER_CORS_ALLOWMETHODS=
GOTIFY_SERVER_CORS_ALLOWHEADERS=
GOTIFY_SERVER_STREAM_ALLOWEDORIGINS=
GOTIFY_SERVER_STREAM_PINGPERIODSECONDS=
GOTIFY_DATABASE_DIALECT=sqlite3
GOTIFY_DATABASE_CONNECTION=data/gotify.db
GOTIFY_DEFAULTUSER_NAME=username
GOTIFY_DEFAULTUSER_PASS=password
GOTIFY_PASSSTRENGTH=10
GOTIFY_UPLOADEDIMAGESDIR=data/images
GOTIFY_PLUGINSDIR=data/plugins
GOTIFY_REGISTRATION=false