########################### NETWORKS
# You may customize the network subnets (10.10.x.0/24) below as you please.
networks:
  arr_net:
    name: arr_net
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.55.0/24
          gateway: 192.168.55.1
  monitoring-services:
    name: monitoring-services
    driver: bridge

########################### COMMON CONFIGURATIONS
x-common-arr: &common-arr
  security_opt:
    - no-new-privileges:true
  restart: unless-stopped
  networks:
    - arr_net
  environment: &common-env
    TZ: ${TZ:-Etc/UTC}
    PUID: ${PUID:-1000}
    PGID: ${PGID:-1000}

x-common-volumes: &common-volumes
  - type: bind
    source: /etc/localtime
    target: /etc/localtime
    read_only: true
    bind:
      create_host_path: true

x-common-storage-volume: &storage-volume
  type: bind
  source: ${COMMON_DATA_PATH}
  target: /storage
  bind:
    create_host_path: true

x-common-exporter: &common-exporter
  image: ghcr.io/onedr0p/exportarr:${EXPORTARR_TAG:-latest}
  security_opt:
    - no-new-privileges:true
  restart: unless-stopped
  profiles: ["all", "exporter"]
  networks:
    - arr_net
  environment:
    ENABLE_ADDITIONAL_METRICS: TRUE

########################### SECRETS
secrets:
  basic_auth_credentials:
    file: $DOCKERDIR/secrets/basic_auth_credentials
  cf_dns_api_token:
    file: $DOCKERDIR/secrets/cf_dns_api_token
  # traefik_forward_auth:
  #   file: $DOCKERDIR/secrets/traefik_forward_auth
  # mysql_root_password:
  #   file: $DOCKERDIR/secrets/mysql_root_password
  # authelia_jwt_secret:
  #   file: $DOCKERDIR/secrets/authelia_jwt_secret
  # authelia_session_secret:
  #   file: $DOCKERDIR/secrets/authelia_session_secret
  # authelia_storage_mysql_password:
  #   file: $DOCKERDIR/secrets/authelia_storage_mysql_password
  # authelia_notifier_smtp_password:
  #   file: $DOCKERDIR/secrets/authelia_notifier_smtp_password
  # authelia_duo_api_secret_key:
  #   file: $DOCKERDIR/secrets/authelia_duo_api_secret_key
  # authelia_storage_encryption_key:
  #   file: $DOCKERDIR/secrets/authelia_storage_encryption_key

include:
  # CORE
  - network/traefik.yml
  # - arr/authentik.yml
  # - arr/socket-proxy.yml
  - arr/gotify.yml
  # Media
  - arr/tdarr-server.yml
  - arr/tdarr-node.yml
  - arr/tdarr-server-cpu.yml
  - arr/tdarr-node-cpu.yml
  # FRONTEND
  - arr/homepage.yml
  - network/sitespeed.yml
  - network/whoami.yml
  # DOWNLOADERS
  - arr/qbittorrent.yml
  # PVRS
  - arr/flaresolverr.yml
  - arr/lidarr.yml
  - arr/radarr.yml
  # - arr/readarr.yml
  - arr/sonarr.yml
  - arr/whisparr.yml
  # - arr/calibre.yml
  # - arr/bitmagnet.yml
  # COMPLEMENTARY APPS
  # - arr/bazarr.yml
  - arr/prowlarr.yml
  - arr/stash.yml
  # MONITORING
  - monitoring/prometheus.yml
  - monitoring/node-exporter.yml
  - monitoring/cadvisor.yml
  # - arr/grafana.yml
  - arr/lidarr-exporter.yml
  - arr/prowlarr-exporter.yml
  - arr/radarr-exporter.yml
  - arr/sonarr-exporter.yml
  # NETWORK
  - arr/gluetun.yml
  # OTHER
  - arr/jellyfin.yml
  # - arr/plex.yml
  # OTHER
