
########################### THIS COMPOSE FILE
# - DNS / AdBlock Server (dns) - Raspberry Pi 4B with Raspberry Pi OS
# - Prefix/suffix "dns" refers to the above host
# - Docker version 24.0.7, build afdd53b
# - Docker Compose version v2.21.0

########################### NETWORKS
# You may customize the network subnets (10.10.x.0/24) below as you please.

networks:
  default:
    driver: bridge
  socket_proxy:
    name: socket_proxy
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.91.0/24
  t2_proxy:
    name: t2_proxy
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.90.0/24

########################### SECRETS
# secrets:
#   basic_auth_credentials:
#     file: $DOCKERDIR/secrets/basic_auth_credentials
#   cf_dns_api_token:
#     file: $DOCKERDIR/secrets/cf_dns_api_token
#   traefik_forward_auth:
#     file: $DOCKERDIR/secrets/traefik_forward_auth

include:
  ########################### SERVICES
  # PREFIX dns = DNS / AdBlock Server

  # CORE
  - network/traefik.yml
  # - network/oauth.yml
  # MONITORING
  # - network/glances.yml
  # MAINTENANCE
  # - network/docker-gc.yml # not available for arm
  # - network/certdumper.yml