services:
  # Grafana - Graphical data visualization for InfluxDB data
  grafana:
    image: grafana/grafana-oss:${GRAFANA_TAG:-11.1.1-ubuntu}
    container_name: grafana
    profiles: ["monitoring", "all"]
    ports:
      - mode: ingress
        target: 3000
        published: "3030"
        protocol: tcp
    volumes:
      - type: volume
        source: grafana_data
        target: /var/lib/grafana
      - type: bind
        source: $DOCKERDIR/appdata/grafana/provisioning/dashboards
        target: ${GF_PATHS_PROVISIONING:-/etc/grafana/provisioning}/dashboards
        bind:
          create_host_path: true
      - type: bind
        source: $DOCKERDIR/appdata/grafana/provisioning/datasources
        target: ${GF_PATHS_PROVISIONING:-/etc/grafana/provisioning}/datasources
        bind:
          create_host_path: true
      - type: bind
        source: $DOCKERDIR/appdata/grafana/dashboards
        target: ${GF_PATHS_HOME:-/usr/share/grafana}/dashboards
        bind:
          create_host_path: true
    environment:
      # https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/#override-configuration-with-environment-variables
      GF_PATHS_DATA: ${GF_PATHS_DATA:-/var/lib/grafana}
      GF_PATHS_HOME: ${GF_PATHS_HOME:-/usr/share/grafana}
      GF_PATHS_LOGS: ${GF_PATHS_LOGS:-/var/log/grafana}
      GF_PATHS_PLUGINS: ${GF_PATHS_PLUGINS:-/var/lib/grafana/plugins}
      GF_PATHS_PROVISIONING: ${GF_PATHS_PROVISIONING:-/etc/grafana/provisioning}
      GF_SERVER_PROTOCOL: ${GF_SERVER_PROTOCOL:-http}
      GF_SERVER_HTTP_ADDR: ${GF_SERVER_HTTP_ADDR:-0.0.0.0}
      GF_SERVER_HTTP_PORT: ${GF_SERVER_HTTP_PORT:-3000}
      GF_SERVER_ROUTER_LOGGING: ${GF_SERVER_ROUTER_LOGGING:-true}
      GF_DATABASE_TYPE: ${GF_DATABASE_TYPE:-sqlite3}
      GF_REMOTE_CACHE_TYPE: ${GF_REMOTE_CACHE_TYPE:-database}
      GF_ANALYTICS_ENABLED: ${GF_ANALYTICS_ENABLED:-false}
      GF_ANALYTICS_REPORTING_ENABLED: ${GF_ANALYTICS_REPORTING_ENABLED:-false}
      GF_ANALYTICS_FEEDBACK_LINKS_ENABLED: ${GF_ANALYTICS_FEEDBACK_LINKS_ENABLED:-false}
      GF_SECURITY_ADMIN_USER: ${GF_SECURITY_ADMIN_USER:-admin}
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD:-password123}
      GF_SECURITY_ADMIN_EMAIL: ${GF_SECURITY_ADMIN_EMAIL:-admin@localhost}
      # GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: ${GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH:-/usr/share/grafana/public/dashboards/home.json}
      GF_USERS_ALLOW_SIGN_UP: ${GF_USERS_ALLOW_SIGN_UP:-false}
      GF_USERS_ALLOW_ORG_CREATE: ${GF_USERS_ALLOW_ORG_CREATE:-false}
      GF_USERS_AUTO_ASSIGN_ORG: ${GF_USERS_AUTO_ASSIGN_ORG:-true}
      GF_USERS_AUTO_ASSIGN_ORG_ID: ${GF_USERS_AUTO_ASSIGN_ORG_ID:-1}
      GF_USERS_VERIFY_EMAIL_ENABLED: ${GF_USERS_VERIFY_EMAIL_ENABLED:-false}
      GF_USERS_LOGIN_DEFAULT_ORG_ID: ${GF_USERS_LOGIN_DEFAULT_ORG_ID:-1}
      GF_USERS_DEFAULT_THEME: ${GF_USERS_DEFAULT_THEME:-dark}
      GF_USERS_DEFAULT_LANGUAGE: ${GF_USERS_DEFAULT_LANGUAGE:-en-US}
      GF_AUTH_LOGIN_COOKIE_NAME: ${GF_AUTH_LOGIN_COOKIE_NAME:-grafana_session}
      GF_AUTH_DISABLE_LOGIN_FORM: ${GF_AUTH_DISABLE_LOGIN_FORM:-false} # Enable for OAuth
      GF_SMTP_ENABLED: ${GF_SMTP_ENABLED:-false}
      GF_EMAILS_WELCOME_EMAIL_ON_SIGN_UP: ${GF_EMAILS_WELCOME_EMAIL_ON_SIGN_UP:-false}
      # GF_LOG_MODE: ${GF_LOG_MODE:-"file"}
      GF_LOG_LEVEL: ${GF_LOG_LEVEL:-info}
      GF_PLUGINS_ENABLE_ALPHA: ${GF_PLUGINS_ENABLE_ALPHA:-true}
      GF_RENDERING_SERVER_URL: ${GF_RENDERING_SERVER_URL:-http://renderer:8081/render}
      GF_RENDERING_CALLBACK_URL: ${GF_RENDERING_SERVER_URL:-http://grafana:3000/}
      GF_INSTALL_PLUGINS: "grafana-clock-panel,grafana-simple-json-datasource,grafana-piechart-panel,cloudflare-app"
    labels:
      - "org.label-schema.group=monitoring"
      - "traefik.enable=true"
      - "traefik.http.routers.grafana-secure.entrypoints=websecure"
      - "traefik.http.routers.grafana-secure.rule=Host(`grafana.$DOMAINNAME`)"
      - "traefik.http.routers.grafana-secure.tls.certresolver=cloudflare-dns"
      - "traefik.http.routers.grafana-secure.middlewares=ssl-header@file"
      - "traefik.http.services.grafana.loadbalancer.server.port=3030"
      - "traefik.docker.network=monitoring-services"
    restart: unless-stopped
    networks:
      - monitoring-services
    logging:
      driver: loki
      options:
        loki-url: "http://loki:3100/loki/api/v1/push"
        loki-external-labels: "container_name={{.Name}}"

volumes:
  grafana_data:
    external: false
    name: grafana_data