services:
  # Prometheus - Database for sensor data
  prometheus:
    image: prom/prometheus:${PROMETHEUS_TAG:-v2.53.1}
    container_name: prometheus
    profiles: ["monitoring", "exporter", "all"]
    ports:
      - mode: ingress
        target: 9090
        published: "9090"
        protocol: tcp
    volumes:
      - type: bind
        source: $DOCKERDIR/appdata/prometheus
        target: /etc/prometheus
      - type: volume
        source: prometheus_data
        target: /prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.enable-lifecycle'
      - '--web.enable-admin-api'
      - '--web.external-url=http://127.0.0.1:9090'
      - '--storage.tsdb.retention.time=12d'
    labels:
      - "org.label-schema.group=monitoring"
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus-secure.entrypoints=websecure"
      - "traefik.http.routers.prometheus-secure.rule=Host(`prometheus.$DOMAINNAME`)"
      - "traefik.http.routers.prometheus-secure.tls.certresolver=cloudflare-dns"
      - "traefik.http.routers.prometheus-secure.middlewares=secure-chain@file"
      - "traefik.http.services.prometheus.loadbalancer.server.port=9090"
      - "traefik.docker.network=monitoring-services"
    restart: unless-stopped
    networks:
      # - arr_net
      - monitoring-services
    logging:
      driver: loki
      options:
        loki-url: "http://loki:3100/loki/api/v1/push"
        loki-external-labels: "container_name={{.Name}}"

volumes:
  prometheus_data:
    external: false
    name: prometheus_data