services:
  # Lidarr Exporter - Lidarr metrics for Prometheus
  lidarr-exporter:
    <<: *common-exporter
    container_name: lidarr-exporter
    ports:
      - mode: ingress
        target: 9709
        published: "9709"
        protocol: tcp
    environment:
      PORT: 9709
      URL: "http://lidarr:8686"
      APIKEY: $LIDARR_API_KEY
      ENABLE_ADDITIONAL_METRICS: TRUE
    command: ["lidarr"]
