services:
  # Prowlarr Exporter - Prowlarr metrics for Prometheus
  prowlarr-exporter:
    <<: *common-exporter
    container_name: prowlarr-exporter
    ports:
      - mode: ingress
        target: 9710
        published: "9710"
        protocol: tcp
    environment:
      PORT: 9710
      URL: "http://prowlarr:9696"
      APIKEY: $PROWLARR_API_KEY
      ENABLE_ADDITIONAL_METRICS: TRUE
    command: ["prowlarr"]
