services:
  # Radarr Exporter - Radarr metrics for Prometheus
  radarr-exporter:
    <<: *common-exporter
    container_name: radarr-exporter
    ports:
      - mode: ingress
        target: 9707
        published: "9707"
        protocol: tcp
    environment:
      PORT: 9707
      URL: "http://radarr:7878"
      APIKEY: $RADARR_API_KEY
      ENABLE_ADDITIONAL_METRICS: TRUE
    command: ["radarr"]
