services:
  # Radarr - Movie management
  radarr:
    <<: *common-arr
    image: lscr.io/linuxserver/radarr:${RADARR_TAG:-latest}
    container_name: radarr
    profiles: ["media", "arrs", "all"]
    ports:
      - mode: ingress
        target: 7878
        published: ${RADARR_PORT:-7878}
        protocol: tcp
    volumes:
      - *common-volumes
      - type: bind
        source: ~/radarr
        target: /config
        bind:
          create_host_path: true
      - *storage-volume
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr-secure.entrypoints=websecure"
      - "traefik.http.routers.radarr-secure.rule=Host(`radarr.$DOMAINNAME`)"
      - "traefik.http.routers.radarr-secure.tls.certresolver=cloudflare-dns"
      - "traefik.http.routers.radarr-secure.middlewares=secure-chain@file"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.docker.network=arr_net"
