services:
  # Sonarr - TV Shows Management
  sonarr:
    <<: *common-arr
    image: lscr.io/linuxserver/sonarr:${SONARR_TAG:-latest}
    container_name: sonarr
    profiles: ["media", "arrs", "all"]
    ports:
      - mode: ingress
        target: 8989
        published: ${SONARR_PORT:-8989}
        protocol: tcp
    volumes:
      - *common-volumes
      - type: bind
        source: ~/sonarr
        target: /config
        bind:
          create_host_path: true
      - *storage-volume
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr-secure.entrypoints=websecure"
      - "traefik.http.routers.sonarr-secure.rule=Host(`sonarr.$DOMAINNAME`)"
      - "traefik.http.routers.sonarr-secure.tls.certresolver=cloudflare-dns"
      - "traefik.http.routers.sonarr-secure.middlewares=ssl-header@file"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      - "traefik.docker.network=arr_net"
