services:
  # Sonarr Exporter - Sonarr metrics for Prometheus
  sonarr-exporter:
    <<: *common-exporter
    container_name: sonarr-exporter
    ports:
      - mode: ingress
        target: 9708
        published: "9708"
        protocol: tcp
    environment:
      PORT: 9708
      URL: "http://sonarr:8989"
      APIKEY: $SONARR_API_KEY
      ENABLE_ADDITIONAL_METRICS: TRUE
    command: ["sonarr"]
