services:
  # Whisparr - Adult content management
  whisparr:
    <<: *common-arr
    image: ghcr.io/hotio/whisparr:${WHISPARR_TAG:-nightly}
    container_name: whisparr
    profiles: ["media", "arrs", "all"]
    ports:
      - mode: ingress
        target: 6969
        published: "6969"
        protocol: tcp
    volumes:
      - *common-volumes
      - type: bind
        source: ~/whisparr
        target: /config
        bind:
          create_host_path: true
      - *storage-volume
    environment:
      <<: *common-env
      WHISPARR_URL: ${WHISPARR_URL:-https://whisparr.$DOMAINNAME}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whisparr.entrypoints=web"
      - "traefik.http.routers.whisparr.rule=Host(`whisparr.$DOMAINNAME`)"
      - "traefik.http.middlewares.whisparr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.whisparr.middlewares=whisparr-https-redirect"
      - "traefik.http.routers.whisparr-secure.entrypoints=websecure"
      - "traefik.http.routers.whisparr-secure.rule=Host(`whisparr.$DOMAINNAME`)"
      - "traefik.http.routers.whisparr-secure.tls=true"
      - "traefik.http.routers.whisparr-secure.tls.certresolver=cloudflare-dns"
      - "traefik.http.routers.whisparr-secure.service=whisparr"
      - "traefik.http.services.whisparr.loadbalancer.server.port=6969"
      - "traefik.docker.network=arr_net"
