---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: asterisk
  namespace: asterisk-metrics
  labels:
    app: asterisk
spec:
  selector:
    matchLabels:
      app: asterisk
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
